// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Verte
@import "~verte/dist/verte.css";

// Devextreme
@import "~devextreme/dist/css/dx.common.css";
@import "~devextreme/dist/css/dx.light.css";

// Select2
@import "~select2/dist/css/select2.css";
@import "~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.css";

// Fontawesome (free)
// @import '~@fortawesome/fontawesome-free/scss/brands';
// @import '~@fortawesome/fontawesome-free/scss/regular';
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";

.form-control-inline {
  min-width: 0;
  width: auto;
  display: inline;
}

.toast {
  z-index: 1000;
}

.toast-header,
.toast-header .close {
  color: white;
}

.table .thead-primary th {
  background-color: $primary;
  border-color: $primary;
}

.card-placeholder {
  border-width: 3px;
  border-style: dashed;
  border-radius: 8px;
  border-color: #ccc;
}

.nowrap {
  white-space: nowrap;
}

a.card-link:hover {
  text-decoration: none;

  .card {
    border-color: #888;
  }
}

.property-line label:hover {
  cursor: ns-resize;
}

.dx-datagrid .dx-row > td.button-row {
  padding: 2px;
  font-size: 17px;
}

.dx-datagrid .dx-row > td.button-row i {
  margin-left: 2px;
  margin-right: 1px;
}

.dx-datagrid-headers .dx-datagrid-table .dx-header-row > td {
  color: white;
  background-color: $primary;
  border-left: 0px;
  border-right: 0px;
}

.dx-datagrid-pager,
.dx-datagrid-header-panel {
  padding-left: 9px;
  padding-right: 9px;
}

.grid-button {
  padding: 4px;
  vertical-align: -3px;

  svg {
    width: 20px;

    path {
      fill: $primary;
    }
  }

  &:hover {
    i,
    svg path {
      color: lighten($primary, 30%);
      fill: lighten($primary, 30%);
    }
  }
}

.dx-datagrid .dx-header-filter {
  color: white;
}
.dx-datagrid .dx-header-filter-empty {
  color: rgba(255, 255, 255, 0.5);
}

.dx-datagrid .dx-datagrid-group-panel .dx-header-filter {
  color: $primary;
}
.dx-datagrid .dx-datagrid-group-panel .dx-header-filter-empty {
  color: transparentize($primary, 0.5);
}

#accordion {
  width: 100%;
}

.dx-datagrid-header-panel .dx-toolbar {
  margin-top: 10px;
}

[v-cloak] {
  display: none;
}

.verte {
  display: block;
}

.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td {
  background-color: #c9e6f5 !important;
}
