<template>
    <span>
        <a v-if="!title" class="grid-button" target="dapi_navigate" :href="href"><slot></slot></a>
        <a v-if="title" class="grid-button" target="dapi_navigate" :title="title" data-toggle="tooltip" :href="href" data-placement="left"><slot></slot></a>
    </span>
</template>

<script>
    export default {
        props: [
            "href",
            "title"
        ],

        created() {
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        }
    };
</script>