<template>
  <li class="list-group-item d-flex justify-content-between">
    <div>
      <i class="fa" :class="icon"></i>
      {{ property.displayName }}
    </div>

    <div v-if="property.dataType == 4 || property.dataType == 3">
      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          value="true"
          :name="`withtimes[${i}]`"
          :id="`withtimes[${i}]`"
        />
        <label class="form-check-label" :for="`withtimes[${i}]`">
          Mit Uhrzeit
        </label>
      </div>
    </div>

    <input
      v-if="selected"
      type="hidden"
      :name="`properties[${i}]`"
      :value="property.id"
    />
  </li>
</template>

<style scoped>
.fa {
  width: 2em;
}
</style>

<script>
export default {
  props: ["property", "i", "selected"],

  computed: {
    icon() {
      if (this.property.dataType == 0) {
        return "fa-align-left";
      } else if (this.property.dataType == 1) {
        return "fa-hashtag";
      } else if (this.property.dataType == 2) {
        return "fa-euro-sign";
      } else if (this.property.dataType == 3) {
        return "fa-clock";
      } else if (this.property.dataType == 4) {
        return "fa-calendar";
      }
    },
  },
};
</script>
