<template>
    <select class="form-control">
        <option></option>
        <slot></slot>
    </select>
</template>

<script>
    import 'select2'

    export default {
        props: ["options", "value", "select2options"],

        mounted: function() {
            var vm = this;
            $(this.$el)
                // init select2
                .select2($.extend(this.select2options, {
                    data: this.options,
                }))
                .trigger("change")
                // emit event on change.
                .on("change", function() {
                    vm.$emit("input", this.value);
                });
        },

        watch: {
            value: function(value) {
                // update value
                $(this.$el)
                    .val(value)
                    .trigger("change");
            },
            options: function(options) {
                // update options
                $(this.$el)
                    .empty()
                    .select2($.extend(this.select2options, {
                        data: this.options,
                    }))
            }
        },

        destroyed: function() {
            $(this.$el)
                .off()
                .select2("destroy");
        }
    };
</script>