<template>
  <div class="row">
    <div class="col-md-6">
      <div v-if="passworded">
        <h2>Passwort</h2>

        <div class="form-group">
          <label for="password">Passwort</label>
          <input
            class="form-control"
            id="password"
            name="password"
            type="password"
            v-model="password"
          />
        </div>
      </div>

      <h2>Optionen</h2>

      <div class="form-group">
        <label for="name">Kachelname</label>
        <input class="form-control" id="name" name="name" v-model="name" />
      </div>

      <div class="form-group" v-if="repositories">
        <label for="repository-select">Archiv</label>
        <select
          name="repository_id"
          v-model="repository"
          id="repository-select"
          class="form-control"
          required
        >
          <option
            v-for="repository in repositories"
            :value="repository.id"
            :key="repository.id"
          >
            {{ repository.name }}
          </option>
        </select>
      </div>

      <div v-if="loading">
        <h4>Lade <i class="fas fa-circle-notch fa-spin"></i></h4>
      </div>

      <div v-if="error">
        Hoppla! Etwas ist schief gelaufen!
      </div>

      <div v-if="categories">
        <div class="form-group">
          <label for="category-select">Dokumentart</label>
          <select
            name="category_id"
            v-model="category"
            id="category-select"
            class="form-control"
            required
          >
            <option :value="null">
              Bitte wählen
            </option>

            <option
              v-for="category in categoriesWithAll"
              :value="category.id"
              :key="category.id"
            >
              {{ category.displayName }}
            </option>
          </select>
        </div>

        <div v-if="selectedCategory">
          <h2>Eigenschaften</h2>

          <div class="form-group">
            <div class="row">
              <div class="col-sm">
                <h3>Aktiv</h3>
                <draggable
                  v-model="selectedCategory.propertyFieldsActive"
                  @end="drag = false"
                  @start="drag = true"
                  class="list-group prop-list"
                  tag="ul"
                  v-bind="dragOptions"
                >
                  <transition-group
                    type="transition"
                    :name="!drag ? 'flip-list' : null"
                  >
                    <Property
                      :property="property"
                      :i="i"
                      :key="property.id"
                      v-for="(property,
                      i) in selectedCategory.propertyFieldsActive"
                      :selected="true"
                    ></Property>
                  </transition-group>
                </draggable>
              </div>

              <div class="col-sm">
                <h3>Inaktiv</h3>
                <draggable
                  v-model="selectedCategory.propertyFieldsInactive"
                  @end="drag = false"
                  @start="drag = true"
                  class="list-group prop-list"
                  tag="ul"
                  v-bind="dragOptions"
                >
                  <transition-group
                    type="transition"
                    :name="!drag ? 'flip-list' : null"
                  >
                    <Property
                      :property="property"
                      :i="i"
                      :key="property.id"
                      v-for="(property,
                      i) in selectedCategory.propertyFieldsInactive"
                    ></Property>
                  </transition-group>
                </draggable>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <!--
            Dokumentmonitor (Keine workflows)
            Dokumentworkload (Nur workflows)
            Dokumentmanager (Beides)
            -->

      <h2>Kachelart</h2>
      <div class="mb-2">
        <div class="form-check" v-for="t in enabledTypes" :key="t.name">
          <input
            class="form-check-input"
            type="radio"
            name="type"
            :value="t.id"
            :id="'type' + t.id"
            v-model="type"
          />
          <label class="form-check-label" :for="'type' + t.id">
            <i :class="'fas ' + t.icon"></i> {{ t.name }}
            <a href="#" data-toggle="tooltip" :title="t.description"
              ><i class="fas fa-info-circle"></i
            ></a>
          </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            name="include_outgoing"
            type="checkbox"
            id="include_outgoing"
            value="1"
            v-model="includeOutgoing"
          />
          <label class="form-check-label" for="include_outgoing">
            Inklusive Postausgang
          </label>
        </div>
      </div>

      <h2 class="mt-3">Anzeige</h2>
      <div class="mb-2">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="display_group"
            value="0"
            id="show-separate"
            v-model="displayGroup"
          />
          <label class="form-check-label" for="show-separate">
            Als eigene Kachel
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="display_group"
            value="1"
            id="show-together"
            v-model="displayGroup"
          />
          <label class="form-check-label" for="show-together">
            In der "Alle" Kachel
          </label>
        </div>
      </div>

      <div>
        <h2>Design</h2>

        <div class="form-group">
          <label for="icon"
            >Icon
            <a
              target="_blank"
              href="https://fontawesome.com/icons?d=gallery&p=2&s=solid&m=free"
              >Liste <i class="fas fa-external-link-alt"></i></a
          ></label>
          <input class="form-control" id="icon" name="icon" v-model="icon" />
        </div>

        <div class="form-group">
          <label for="color">Farbe</label>
          <verte :value="color" model="hex" @input="updateColor"></verte>
          <input type="hidden" name="color" v-model="color" />
        </div>
      </div>

      <div class="mt-3">
        <h2>Berechtigungen</h2>

        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between"
            v-if="
              this.userPermissions.length == 0 &&
                this.groupPermissions.length == 0
            "
          >
            <div><i class="fas fa-users"></i> Alle</div>
          </li>
          <li
            class="list-group-item d-flex justify-content-between"
            v-for="user in userPermissions"
            :key="user.value"
          >
            <input type="hidden" name="permissions[]" :value="user.value" />
            <input type="hidden" name="permission_types[]" value="0" />
            <div><i class="fas fa-user"></i> {{ user.name }}</div>
            <div>
              <a href="javascript:void(0)" @click="removePermission(user)"
                ><i class="fas fa-times"></i
              ></a>
            </div>
          </li>
          <li
            class="list-group-item d-flex justify-content-between"
            v-for="group in groupPermissions"
            :key="group.value"
          >
            <input type="hidden" name="permissions[]" :value="group.value" />
            <input type="hidden" name="permission_types[]" value="1" />
            <div><i class="fas fa-users"></i> {{ group.name }}</div>
            <div>
              <a href="javascript:void(0)" @click="removePermission(group)"
                ><i class="fas fa-times"></i
              ></a>
            </div>
          </li>
        </ul>

        <div class="mt-3">
          <select2 :select2options="select2options" @input="addPermission">
            <option
              v-for="user in users"
              :key="user.value"
              :value="user.value"
              data-icon="fa-user"
              >{{ user.name }}</option
            >
            <option
              v-for="group in groups"
              :key="group.value"
              :value="group.value"
              data-icon="fa-users"
              >{{ group.name }}</option
            >
          </select2>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.flip-list-move {
  transition: transform 0.5s;
}

.ghost {
  opacity: 0.5;
}

.prop-list {
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid grey;
}
</style>

<script>
import draggable from "vuedraggable";
import verte from "verte";

export default {
  props: [
    "defaultName",
    "defaultType",
    "defaultCategory",
    "defaultPropertiesJson",
    "defaultPermissionsJson",
    "defaultDisplayGroup",
    "defaultRepository",
    "defaultIcon",
    "defaultColor",
    "defaultIncludeOutgoing",

    "enabledTypesJson",

    "usersUrl",
    "groupsUrl",
    "categoriesUrl",
    "repositoriesUrl",
    "passworded",
  ],

  components: {
    draggable,
    verte,
  },

  created() {
    this.defaultProperties = JSON.parse(this.defaultPropertiesJson);
    this.defaultPermissions = JSON.parse(this.defaultPermissionsJson);
    this.enabledTypesI = JSON.parse(this.enabledTypesJson);

    if (!this.enabledTypesI.includes(parseInt(this.type))) {
      this.type = this.enabledTypesI[0];
    }

    // Repositories
    axios
      .get(this.repositoriesUrl)
      .then((response) => {
        const data = response.data;
        this.repositories = data;
        this.loading = false;

        if (this.defaultRepository) {
          this.repository = this.defaultRepository;
        }
      })
      .catch((err) => {
        this.error = true;
      });

    // Users
    axios
      .get(this.usersUrl)
      .then((response) => {
        const data = response.data;
        this.users = Array.from(data);

        for (let user of this.users) {
          let permission = this.defaultPermissions.includes(user.value);
          Vue.set(user, "permission", permission);
        }
      })
      .catch((err) => {
        this.error = true;
      });

    // Groups
    axios
      .get(this.groupsUrl)
      .then((response) => {
        const data = response.data;
        this.groups = Array.from(data);

        for (let group of this.groups) {
          let permission = this.defaultPermissions.includes(group.value);
          Vue.set(group, "permission", permission);
        }
      })
      .catch((err) => {
        console.log(err);
        this.error = true;
      })

      .catch((err) => {
        console.log(err);
        this.error = true;

        this.loading = false;
      });

    // select2

    $(() => {
      let that = this;
      // $select2.on("select2:select", function(e) {
      //     that.addPermission($(this).val())
      // })

      $(function() {
        $('[data-toggle="tooltip"]').tooltip();
      });
    });
  },
  data() {
    return {
      name: this.defaultName,
      type: this.defaultType,
      displayGroup: this.defaultDisplayGroup,

      users: [],

      groups: [],
      enabledTypesI: [],

      loading: true,
      categories: null,
      error: false,
      category: null,
      properties: [],
      defaultProperties: [],
      selectedProperties: {},
      addPermissionObj: null,
      includeOutgoing: this.defaultIncludeOutgoing,

      repository: null,

      repositories: null,

      types: [
        {
          id: 0,
          name: "Dokumentmonitor",
          description: "Zeigt alle Dokumente der Dokumentart",
          icon: "fa-eye",
        },
        {
          id: 1,
          name: "Dokumentworkload",
          description: "Zeigt alle Dokumente im Postkorb mit Workflow",
          icon: "fa-inbox",
        },
        {
          id: 2,
          name: "Dokumentmanager",
          description: "Zeigt sowohl Dokumente als auch Workflows",
          icon: "fa-chart-line",
        },
      ],

      select2options: {
        theme: "bootstrap4",
        templateResult: (state) =>
          `<i class="fas ${$(state.element).data("icon")}"></i> ${state.text}`,
        templateSelection: (state) =>
          `<i class="fas ${$(state.element).data("icon")}"></i> ${state.text}`,
        escapeMarkup: function(m) {
          return m;
        },
        placeholder: "Benutzer oder Gruppe hinzufügen",
      },

      password: "",
      icon: this.defaultIcon,
      color: this.defaultColor,
      drag: false,
    };
  },

  watch: {
    repository: function() {
      this.loading = true;
      this.categories = null;
      //Categories
      axios
        .get(this.categoriesUrl + "?repository=" + this.repository)
        .then((response) => {
          this.categories = response.data;

          this.loading = false;

          for (let category of this.categories) {
            Vue.set(category, "propertyFieldsInactive", []);
            Vue.set(category, "propertyFieldsActive", []);

            for (let propertyField of category.propertyFields) {
              if (this.defaultProperties.includes(propertyField.id)) {
                category.propertyFieldsActive.push(propertyField);
              } else {
                category.propertyFieldsInactive.push(propertyField);
              }
            }
          }

          // initialize to the edit state if present
          if (this.defaultCategory) {
            this.category = this.defaultCategory;
          }

          let that = this;

          this.selectedCategory.propertyFieldsActive.sort(function(a, b) {
            let defaultA = that.defaultProperties.findIndex((el) => el == a.id);
            let defaultB = that.defaultProperties.findIndex((el) => el == b.id);

            return defaultA - defaultB;
          });
        });
    },
  },

  computed: {
    categoriesWithAll() {
      let categories = this.categories;
      let all = {
        id: -1,
        displayName: "- Alle -",
        objectType: 0,
        propertyFields: [
          {
            id: "property_last_alteration_date",
            displayName: "Geändert am",
            dataType: 3,
          },
          { id: "property_editor", displayName: "Bearbeiter", dataType: 0 },
          { id: "property_owner", displayName: "Besitzer", dataType: 0 },
          { id: "property_caption", displayName: "Titel", dataType: 0 },
          { id: "property_filename", displayName: "Dateiname", dataType: 0 },
          { id: "property_filetype", displayName: "Dateityp", dataType: 0 },
          {
            id: "property_document_id",
            displayName: "Dokument-ID",
            dataType: 0,
          },
          {
            id: "property_document_number",
            displayName: "Dokumentnr.",
            dataType: 0,
          },
          {
            id: "property_creation_date",
            displayName: "Erstellt am",
            dataType: 3,
          },
          { id: "property_size", displayName: "Größe", dataType: 1 },
          { id: "property_state", displayName: "Status", dataType: 0 },
          {
            id: "property_variant_number",
            displayName: "Variantennr.",
            dataType: 1,
          },
          {
            id: "property_access_date",
            displayName: "Zugriffsdatum",
            dataType: 3,
          },
          {
            id: "_workfloweditor",
            displayName: "Workflow Bearbeiter",
            dataType: 0,
          },
          {
            id: "_workflowsender",
            displayName: "Workflow Starter",
            dataType: 0,
          },
          { id: "_comment", displayName: "Workflow Betreff", dataType: 0 },
          {
            id: "_inboundoutbound",
            displayName: "Quelle",
            dataType: 0,
          },
          {
            id: "_datereceived",
            displayName: "Erhalten am",
            dataType: 3,
          },
        ],
        propertyFieldsActive: [],
        propertyFieldsInactive: [],
      };

      for (let field of all.propertyFields) {
        if (this.defaultProperties.includes(field.id)) {
          all.propertyFieldsActive.push(field);
        } else {
          all.propertyFieldsInactive.push(field);
        }
      }

      return [all, ...categories];
    },

    selectedCategory() {
      for (let i = 0; i < this.categoriesWithAll.length; i++) {
        if (this.categoriesWithAll[i].id == this.category) {
          return this.categoriesWithAll[i];
        }
      }

      return null;
    },

    userPermissions() {
      return this.users.filter((user) => user.permission);
    },

    groupPermissions() {
      return this.groups.filter((group) => group.permission);
    },

    enabledTypes() {
      return this.types.filter((type, i) => this.enabledTypesI.includes(i));
    },
    dragOptions() {
      return {
        animation: 200,
        group: "description",
        disabled: false,
        ghostClass: "ghost",
      };
    },
  },

  methods: {
    addPermission(id) {
      for (let user of this.users) {
        if (user.value == id) {
          user.permission = true;
        }
      }

      for (let group of this.groups) {
        if (group.value == id) {
          group.permission = true;
        }
      }
    },

    removePermission(obj) {
      obj.permission = false;
    },

    updateColor(color) {
      this.color = color;
    },
  },
};
</script>
