<template>
  <DxDataGrid
    :data-source="ajaxUrlWithType"
    :row-alternation-enabled="true"
    :allow-column-resizing="true"
    :ref="gridRefName"
    @toolbar-preparing="onToolbarPreparing($event)"
    @content-ready="onContentReady($event)"
    @exporting="onExporting"
    :allow-column-reordering="true"
    :selection="{ mode: 'single' }"
  >
    <DxStateStoring
      :enabled="true"
      type="localStorage"
      :storage-key="'data-grid-' + tileId"
    />

    <DxExport :enabled="true" />

    <DxSearchPanel :visible="true" />
    <DxGrouping :context-menu-enabled="true" />
    <DxGroupPanel :visible="true" />

    <DxFilterRow :visible="true" />
    <DxHeaderFilter :visible="true" />

    <DxColumn
      v-for="property in properties"
      :key="property.id"
      :data-field="property.property"
      :caption="property.name"
      :data-type="getDataType(property)"
      :format="getFormat(property)"
      :group-index="getGroupIndex(property)"
    />

    <DxColumn
      cell-template="action-cell"
      css-class="button-row"
      :allow-sorting="false"
      :allow-filtering="false"
      width="128"
    />

    <DxSummary>
      <DxGroupItem
        v-for="property in currencyProperties"
        :key="'total_' + property.id"
        :show-in-group-footer="true"
        :column="property.property"
        summary-type="sum"
        :value-format="formatCurrency"
        display-format="Gesamt: {0}"
      />
    </DxSummary>

    <DxPager
      :allowed-page-sizes="pageSizes"
      :show-page-size-selector="true"
      :show-info="true"
      :visible="true"
    />
    <DxPaging :page-size="15" />

    <template #action-cell="{ data }">
      <div>
        <grid-button :href="data.data._link">
          <svg viewBox="0 -124 1024 1024">
            <path
              d="M512 464C503.906 464 496.092 462.892 488.584 461.004C510.706 453.736 526.788 433.1600000000001 526.788 408.608C526.788 378.014 501.988 353.2100000000001 471.394 353.2100000000001C446.842 353.2100000000001 426.262 369.2960000000001 418.996 391.4160000000001C417.11 383.9100000000001 416 376.0960000000001 416 368.0020000000001C416 314.98 458.98 272 512 272S608 314.982 608 368C608 421.02 565.02 464 512 464zM512 624C149.902 624 0 367.9980000000001 0 367.9980000000001S149.902 112 512 112S1024 367.9980000000001 1024 367.9980000000001S874.098 624 512 624zM512 192C414.798 192 336 270.8 336 368.002C336 465.206 414.798 544 512 544S688 465.206 688 368.002C688 270.8 609.202 192 512 192z"
            />
          </svg>
        </grid-button>

        <grid-button :href="data.data._update" v-if="type != 1">
          <i class="fas fa-pencil-alt"></i>
        </grid-button>

        <grid-button
          v-if="data.data._comment && type != 0"
          :title="data.data._comment"
          :href="data.data._commentLink"
        >
          <i class="fas fa-envelope-open-text"></i>
        </grid-button>

        <grid-button
          v-if="data.data._workflow && type != 0"
          :href="data.data._workflow"
        >
          <svg viewBox="0 -124 1024 1024">
            <path
              d="M146.228 515.726C227.016 515.726 292.456 450.146 292.456 369.266C292.456 328.826 276.112 292.242 249.67 265.77L246.4820000000001 262.7100000000001L247.8120000000001 259.0500000000001C290.4640000000001 146.71 391.052 62.97 512.964 44.2800000000001L516.884 43.7480000000001L516.82 43.082A212.6 212.6 0 0 1 515.8240000000001 22.398C515.8240000000001 -13.452 524.9240000000001 -47.242 540.9380000000001 -76.708L542.7320000000001 -79.8339999999999L540.9380000000001 -79.7679999999999C355.1120000000001 -70.3239999999999 198.3860000000001 49.6680000000001 135.1380000000001 215.8180000000001L132.3480000000001 223.5340000000001L131.2840000000001 223.6020000000001C57.534 231.116 0 293.4400000000001 0 369.264C0 450.144 65.44 515.724 146.228 515.724zM921.62 669.04L926.004 663.52C987.394 585.366 1024 486.726 1024 379.574C1024 243.154 964.672 120.5699999999999 870.396 36.364L869.336 35.364L869.732 29.9780000000001A145.4 145.4 0 0 0 869.932 22.3940000000001C869.932 -58.4859999999999 804.424 -124.0019999999998 723.704 -124.0019999999998C642.9159999999999 -124.0019999999998 577.4079999999999 -58.4859999999999 577.4079999999999 22.3940000000001S642.9159999999999 168.8540000000002 723.704 168.8540000000002A145.4 145.4 0 0 0 805.424 143.8460000000001L807.084 142.7160000000001L814.324 150.3640000000002C869.664 210.7580000000002 903.416 291.1720000000002 903.416 379.5700000000002C903.416 443.9560000000002 885.4759999999999 504.1500000000001 854.3159999999999 555.4300000000002L854.0519999999999 555.9640000000002L858.2379999999999 559.6240000000003C887.7979999999999 586.4940000000001 909.592 621.7440000000001 919.89 661.6540000000002L921.618 669.0340000000002zM718.588 860C799.308 860 864.816 794.484 864.816 713.604S799.308 567.144 718.588 567.144C637.8 567.144 572.2919999999999 632.7239999999999 572.2919999999999 713.604L572.4239999999999 718.658L564.5839999999998 718.722C435.9639999999999 718.722 324.0799999999998 646.954 266.6779999999999 541.262L265.6779999999999 539.402L258.1059999999998 544.5219999999999C228.5419999999999 563.546 193.7939999999998 575.322 156.4559999999998 577.116L149.6759999999998 577.248L150.4759999999998 578.9780000000001C224.692 733.16 382.214 839.516 564.586 839.516C586.9060000000001 839.516 608.8340000000001 837.92 630.292 834.86L635.408 833.994L636.804 834.994C660.124 850.82 688.292 860 718.588 860z"
            />
          </svg>
        </grid-button>
      </div>
    </template>
  </DxDataGrid>
</template>

<script>
import util from "../util.js";
import config from "devextreme/core/config";
import deMessages from "devextreme/localization/messages/de.json";
import { locale, loadMessages } from "devextreme/localization";
import { exportDataGrid } from "devextreme/excel_exporter";
import ExcelJS from "exceljs";
import saveAs from "file-saver";

import DxDataGrid, {
  DxColumn,
  DxGrouping,
  DxGroupPanel,
  DxFilterRow,
  DxHeaderFilter,
  DxSearchPanel,
  DxGroupItem,
  DxSummary,
  DxPager,
  DxPaging,
  DxStateStoring,
  DxExport,
  DxRemoteOperations,
} from "devextreme-vue/data-grid";

import CustomStore from "devextreme/data/custom_store";

const isNotEmpty = (value) =>
  value !== undefined && value !== null && value !== "";

function handleErrors(response) {
  if (!response.ok) {
    throw Error(response.statusText);
  }
  return response;
}

let currentIndex = 0;

export default {
  props: [
    "ajaxUrl",
    "properties",
    "tileId",
    "type",
    "locale",
    "name",
    "repository",
    "includeOutbound",
    "propertyGroupings",
  ],

  components: {
    DxDataGrid,
    DxColumn,
    DxGrouping,
    DxGroupPanel,
    DxFilterRow,
    DxHeaderFilter,
    DxSearchPanel,
    DxGroupItem,
    DxSummary,
    DxPager,
    DxPaging,
    DxStateStoring,
    DxExport,
    DxRemoteOperations,
  },

  created() {
    config({ defaultCurrency: "EUR" });

    if (this.locale == "de") {
      loadMessages(deMessages);
      locale(this.locale);
    }
  },

  methods: {
    formatCurrency(value) {
      var decimal = ".";
      var thousands = ",";

      if (this.locale == "de") {
        var decimal = ",";
        var thousands = ".";
      }

      return util.formatMoney(value, 2, decimal, thousands);
    },

    getFormat: function(property) {
      switch (property.data_type) {
        case 2:
          return this.formatCurrency;
          break;

        case 3:
          return {
            year: "numeric",
            month: "2-digit",
            day: "2-digit",
            hour: "2-digit",
            minute: "2-digit",
            second: "2-digit",
          };
          break;

        case 4:
          return { year: "numeric", month: "2-digit", day: "2-digit" };
          break;

        default:
          return "";
      }
    },

    getDataType: (property) => {
      switch (property.data_type) {
        case 2:
          return "number";
          break;

        case 3:
          return "datetime";
          break;

        case 4:
          return "date";
          break;

        default:
          return "";
      }
    },

    getGroupIndex(property) {
      if (this.propertyGroupings) {
        return this.propertyGroupings.indexOf(property.property);
      } else {
        return null;
      }
    },

    onContentReady(e) {
      this.$emit("rowcountchanged", e.component.totalCount());
    },
    onToolbarPreparing(e) {
      e.toolbarOptions.items.unshift(
        {
          location: "after",
          widget: "dxButton",
          options: {
            text: this.locale == "de" ? "Aktualisieren" : "Refresh",
            icon: "refresh",
            onClick: this.refreshDataGrid,
          },
        },
        {
          location: "after",
          widget: "dxButton",
          options: {
            text: this.locale == "de" ? "Zurücksetzen" : "Reset",
            icon: "undo",
            onClick: this.resetSettings,
          },
        }
      );
    },

    dataSizeChanged(e) {
      this.dataSize = e.value;
      this.refreshDataGrid();
    },

    refreshDataGrid() {
      this.$refs[this.gridRefName].instance.refresh();
    },

    resetSettings() {
      this.$refs[this.gridRefName].instance.state({});
    },

    onExporting(e) {
      const workbook = new ExcelJS.Workbook();
      const worksheet = workbook.addWorksheet(this.name);

      exportDataGrid({
        component: e.component,
        worksheet: worksheet,
        autoFilterEnabled: true,
      }).then(() => {
        // https://github.com/exceljs/exceljs#writing-xlsx
        workbook.xlsx.writeBuffer().then((buffer) => {
          saveAs(
            new Blob([buffer], { type: "application/octet-stream" }),
            "export.xlsx"
          );
        });
      });

      e.cancel = true;
    },

    linkView(repository, docId) {
      return `/dms/r/${repository}/o2/${docId}`;
    },

    linkEdit(repository, docId) {
      return `/dms/r/${repository}/o2/${docId}/update`;
    },

    linkComment(archiveChar, docId, holdFileId, userName) {
      return `/d3/${archiveChar}/api/v1/redirect/${docId}/doc?holdfile_id=${holdFileId}&recipient=${userName}`;
    },

    linkWorkflow(archiveChar, docId, holdFileId, userName) {
      return `/d3/${archiveChar}/api/v1/redirect/${docId}/doc?holdfile_id=${holdFileId}&recipient=${userName}`;
    },
  },
  computed: {
    currencyProperties() {
      return this.properties.filter((property) => property.data_type == 2);
    },

    ajaxUrlWithType() {
      return `${this.ajaxUrl}?type=${this.type}&includeOutbound=${
        this.includeOutbound ? 1 : 0
      }`;
    },
    console: () => console,
  },
  data() {
    return {
      pageSizes: [15, 25, 50, 100, 1000],
      dataSize: 250,
      gridRefName: "dataGrid",
    };
  },
};
</script>
